body #wrapper{
    background:#00923E;
    padding: 20px;
}
.right-align{
    text-align: right;
    width: 160px;
}
.left-align{
    text-align: left;
    width: 160px;
}
.center-align{
    text-align: center;
    width: 80px;
}
td.center-align.select-size{
    width: 110px;
}
table{
    border-spacing: 0;
    border-radius: 12px;
    width: 1020px;
}
table,td,th{
    border: 1px solid #000;
}
body table tr th{
    background: #F8C711;
    font-weight: bold;
    font-size: 23px;
    font-family: Tahoma;
}
table tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}
table tr:first-child th:last-child{
    border-top-right-radius: 10px;
}
table tr:first-child th:first-child{
    border-top-left-radius: 10px;
}
table tr:nth-child(even){
    background: #FFFFFF;
}
table tr:nth-child(odd){
    background: #C8C8C8;
}
td,th{
    height: 35px;
    padding: 3px 3px 3px 3px;
}
select[disabled='disabled']{
    background: #DCDCDC;
    color:red;
}
select{
    color:#007900;
}
table tr:nth-child(2) td:first-child::after{
    margin-left: 5px;
    content: url("flags/brasil.png");
}
table tr:nth-child(3) td:first-child::after{
    margin-left: 5px;
    content: url("flags/spain.png");
}
table tr:nth-child(4) td:first-child::after{
    margin-left: 5px;
    content: url("flags/italy.png");
}
table tr:nth-child(5) td:first-child::after{
    margin-left: 5px;
    content: url("flags/argentina.png");
}
table tr:nth-child(6) td:first-child::after{
    margin-left: 5px;
    content: url("flags/germany.png");
}

table tr:nth-child(2) td:nth-child(3)::before{
    margin-right: 5px;
    content: url("flags/mexico.png");
}
table tr:nth-child(3) td:nth-child(3)::before{
    margin-right: 5px;
    content: url("flags/netherlands.png");
}
table tr:nth-child(4) td:nth-child(3)::before{
    margin-right: 5px;
    content: url("flags/england.png");
}
table tr:nth-child(5) td:nth-child(3)::before{
    margin-right: 5px;
    content: url("flags/bosnia.png");
}
table tr:nth-child(6) td:nth-child(3)::before{
    margin-right: 5px;
    content: url("flags/portugal.png");
}
button{
    margin-left: 6px;
    font-size: 10px;
    font-weight: bold;
    width:37px;
    height:37px;
    border-radius: 50%;
    background: #008000;
    color: white;
    text-align:center;
    text-decoration:none;
}
button.disabled{
    background: #FF0000;
}